body {background-color: #EEEEEE;}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #34B3F1;
    border-width: 6px;
    height: 0px;
    width: 60%;}
img.rounded-corners {border-radius: 30%;}
h1 {color: #F15412;
    font-family: garamond;
}
h3 {color: #F15412;
font-family: garamond;}
body#Contact {max-width: 50%;
margin: auto;}

table.head {transform-style: preserve-3d;}
